body {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.section-center {
}

.app-title {
    font-size: 2vw;
    font-weight: bolder;
    color: rgb(32, 32, 96);
}

.button-login-button {
    width: 20vw;
    height: 4vh;
    font-size: 1.1vw;
    font-weight: bold;
    color: rgb(36, 36, 146);

    background: #c7ddff;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    border-width: 3px;
    cursor: pointer;
}
