@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@200;400;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mitr", sans-serif;
}
/* body {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
} */
.container {
    position: relative;
    width: 100%;
    height: 100px;
    margin: 0 auto;
    padding: 5px;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    white-space: nowrap;
 
}
.left {
    /* position: relative; */
    width:55%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.right {
   /* position: relative; */
    width: 45%;
    min-height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}






