@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@200;400;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mitr", sans-serif;
}
body {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}
.container {
    position: relative;
    width: 95%;
    height: 875px;
    margin: 0 auto;
    padding: 5px;
    display: flex;
    border-radius: 10px;
    background-color: grey;
}
.left {
    width: 40%;
    padding: 20px;
}
.calendar {
    position: relative;
    width: 100%;
    height: 65%;
    /* display: flex;
  flex-direction: column;
  flex-wrap: wrap; */
    /* justify-content: space-between; */
    border-radius: 5px;
    background-color: white;
}
.reminder-wrapper {
    position: absolute;
    top: 25px;
    left: 20.25%;
    width: 36.5%;
    max-height: 0px;
    height: 65%;
    overflow: hidden;
    border-radius: 5px;
    background-color: white;
    transform: translate(-50%);
    transition: max-height 0.5s;
}
.reminder-wrapper.active {
    max-height: 537px;
}
.reminder-header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    color: black;
    border-bottom: 1px solid lightgrey;
}
.reminder-header .close {
    cursor: pointer;
}
.reminders {
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px;
}
.reminders .reminder {
    position: relative;
    width: 95%;
    min-height: 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    padding: 0 1%;
}
.reminders .reminder .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.reminders .reminder .title .reminder-title {
    margin-left: 4%;
    overflow: hidden;
    text-overflow: ellipsis;
    /* white-space: wrap; */
    word-wrap: break-word;
}
.reminders .reminder .title .reminder-link {
    margin-left: 5%;
    margin-right: 4%;
    align-items: right;
    width: 35%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.reminders .reminder .title .delete {
    cursor: pointer;
}
.calendar .month {
    font-weight: bold;
    font-size: 2vw;
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}
.calendar .month .prev,
.calendar .month .next {
    cursor: pointer;
}
.calendar .week {
    font-size: 1.8vw;
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.week div {
    width: 14.28%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calendar .days {
    width: 100%;
    height: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    margin-bottom: 20px;
}
.calendar .days .day {
    font-size: 1.5vw;
    width: 14.28%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid grey;
    cursor: pointer;
}
.calendar .days .prev-date,
.calendar .days .next-date {
    cursor: default;
}
.calendar .days .today {
    font-size: 1.5vw;
    width: 14.28%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid rgb(225, 25, 25);
    cursor: pointer;
}
.calendar .days .hasReminder {
    position: relative;
}
.calendar .days .hasReminder::after {
    content: "";
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 50%;
    height: 6px;
    border-radius: 30px;
    transform: translateX(-50%);
    background-color: red;
}
.container .right {
    position: relative;
    width: 60%;
    min-height: 100%;
    padding: 30px 1vw;
}
.right .head {
    font-weight: bold;
    font-size: 2vw;
    color: rgb(35, 35, 35);
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    padding-left: 1vw;
    margin-bottom: 5vh;
}

.show-button {
    width: 17vw;
    height: 4vh;
    font-weight: bold;
    font-size: 1.1vw;
    background: rgb(175, 176, 228);
    color: #272e63;
    border-radius: 2vw;
}
.assignments {
    width: 100%;
    height: 100%;
    max-height: 90%;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

.assignment-table {
    /* border-spacing: 2px; */
    border-collapse: collapse;
}

.assignment-table > thead {
    font-size: 1.5vw;
    background: rgb(33, 34, 97);
    color: #e5e0f8;
}

.assignment-table > tbody {
    font-size: 1.2vw;
    background: rgb(231, 232, 255);
    color: #181e47;
}

.assignment-table th {
    padding: 5px;
}

.assignment-table td {
    padding: 5px;
    border: 2px inset #3d4894;
}

a {
    color: #1722c0;
}
.add-reminder-wrapper {
    position: absolute;
    bottom: 20px;
    left: 20%;
    width: 35%;
    max-height: 300px;
    overflow: hidden;
    border-radius: 5px;
    background-color: white;
    transform: translate(-50%);
    transition: max-height 0.5s;
}
.add-reminder-header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    color: black;
    border-bottom: 1px solid white;
}
.add-reminder-header .close {
    cursor: pointer;
}
.add-reminder-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px;
}
.add-reminder-body .add-reminder-input {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.add-reminder-body .add-reminder-input input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid lightgrey;
    padding: 0 10px;
    color: grey;
}
.add-reminder-body .add-reminder-input .assignment-to-add {
    width: 60%;
}
.add-reminder-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.add-reminder-btn {
    height: 40px;
    outline: none;
    border: 1px solid grey;
    color: white;
    background-color: grey;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
}
.show-assignment-btn {
    text-align: center;
    height: 30px;
    outline: none;
    border: 1px solid grey;
    color: white;
    background-color: grey;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
}
