*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}
.container {
    position: relative;
    width: 1200px;
    min-height: 850px;
    margin: 0 auto;
    padding: 5px;
    display: flex;
    border-radius: 10px;
    background-color: grey;
}
.left {
    width: 60%;
    padding: 20px;
}
.calendar {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    border-radius: 5px;
    background-color: white;
    
}
.calendar .month {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}
.calendar .month .prev,
.calendar .month .next {
  cursor: pointer;
}
.calendar .week {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.week div {
    width: 14.28%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calendar .days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    margin-bottom: 20px;
}
 .day {
    width: 14.28%;
    height: 90px;
    display: flex;
    /* align-items: center;
    justify-content: center; */
    padding: 1%;
    justify-content: right;
    border: 1px solid grey;
}
.day_today {
    width: 14.28%;
    height: 90px;
    display: flex;
    padding: 1%;
    justify-content: right; 
    border: 3px solid rgb(225, 25, 25);
}

.calendar .days .event {
    position: relative;
}
.calendar .days .event::after {
    content: "";
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 75%;
    height: 6px;
    border-radius: 30px;
    transform: translateX(-50%);
    background-color: black;
}
.container .right {
    position: relative;
    width: 40%;
    min-height: 100%;
    padding: 20 0px;
}
.right .head {
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    padding: 0 40px;
    padding-left: 70px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.assignments {
    width: 100%;
    height: 100%;
    max-height: 600px;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 4px;
}
.assignments .assignment {
    position: relative;
    width: 95%;
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    padding: 0 20px;
    padding-left: 50px;
    cursor: pointer;
    background-color: lightgray;
}
.assignments .assignment .title {
    display: flex;
    align-items: center;
    pointer-events: none;
}
.assignments .assignment .title .assignment-title {
    margin-left: 20px;
}
.assignments .assignment .title .due-date {
    margin-left: 15px;
    pointer-events: none;
}